@import url('https://fonts.googleapis.com/css2?family=Allura&family=Caveat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Allura', cursive; */
    font-family: 'Roboto Mono', monospace;

    /* font-family: 'Caveat', cursive; */
}
body{
    /* height: 200vh; */
    background-color:#02293F;
    color: #ffff;
    /* position: relative; */
}
body > div{
    visibility: hidden;
    display: none;
}

header{
    overflow: hidden;
    position: relative;
    height: 100vh;
    /* box-shadow: inset 0px 0px 250px 20px #000000BF; */
    box-shadow: 0px 0px 250px 123px #000000e7 inset;
    /**
    **inset: inner shadow
    **250-blur, 123-spread 0-x, 0-y
    */
    overflow: hidden;
    background-image: url(./asset/swizz-11.png);
    /* background-size: contain; */
    background-repeat: no-repeat;
    color: #ffff;
    z-index: -10;
}
header section {
    width: 100%;
    background-color: #1327d787;
    height: 100%;
    opacity: 0.4;
    z-index:50;
}
header main,nav{
    margin: 30px 0;
    padding:0  24px;
    z-index: 10;
    position:absolute;
    top: 0;
    left: 0;
    color:white;
    
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
nav .nav-logo{
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav span{
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
}
.nav-logo > .logo{
    font-size: 50px;
}
nav .nav-links{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
/* .item-link{
    opacity: 0.5;
    animation: ease-in-out;
    transition-duration: 1s;
}
.item-link:hover{
    opacity: 1;
    color: #EAA913;
} */
.text-section{
    z-index: 12;
    position: absolute;
    left: 200px;
    top: 300px;
}
.text-section h2{
    font-size: 52px;
}
.text-section h1{
    font-size: 84px;
    font: 900;
    font-weight: bolder;
    color: #EAA913;
}
.text-section p{
    font-family: 'Caveat', cursive;
    font-size: 24px;
    width: 350px;
}
.md{
    width: 450px;
    height: 450px;
}
.sm{
    width: 300px;
    height: 300px;
}
.img{
    clip-path: polygon(0 23%, 50% 0, 100% 23%, 100% 76%, 50% 100%, 0 75%);
    background-size: cover;
}
.text-box{
    background-color: #EAA913;
    position: absolute;
    left:900px;
    top: 440px;
    z-index: 10;
}
.text-box span{
    text-align: right;
    color: #02293F;
    font-size: 32px;
    position: absolute;
    left: 115px;
    top: 150px;
    padding: 0 5px;
}

.img-1{
    position: absolute;
    left: 600px;
    top: 190px;
    color: black;
}
.img-2{
    position: absolute;
    left: 1340px;
    top: -165px;
}
.img-3{
    position: absolute;
    left: 970px;
    top: 10px;
}
.img-4{
    position: absolute;
    left:1180px;
    top: 250px;
}
.img-5{
    position: absolute;
    left:600px;
    top: 650px;
}
.img-6{
    position: absolute;
    left: 1270px;
    top: 500px;
}
.socials {
    position: absolute;
    padding:0  24px;
    z-index: 10;
    top: 0;
    left: 0;
    color:white;
    top: 750px;
}
.socials > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
}
.social-links .link  a{
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}



@media screen and (max-width:800px){
    header{
        display: none;
    }
    body > div{
        width: 100vw;
        height: 100vh;
        display: flex;
        visibility: visible;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }
}
