@import url('https://fonts.googleapis.com/css2?family=Allura&family=Caveat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Allura', cursive; */
    font-family: 'Roboto Mono', monospace;

    /* font-family: 'Caveat', cursive; */
}
body{
    height: 200vh;
    background-color:#02293F;
    color: #ffff;
    /* position: relative; */
}

header{
    height: 100vh;
    /* box-shadow: inset 0px 0px 250px 20px #000000BF; */
    box-shadow: 0px 0px 250px 123px #000000BF inset;
    /**
    **inset: inner shadow
    **250-blur, 123-spread 0-x, 0-y
    */
    overflow: hidden;
    background-image: url(./asset/swizz-11.png);
    /* background-size: contain; */
    background-repeat: no-repeat;
    color: #ffff;
    z-index: -10;
}
header section {
    width: 100%;
    background-color: black;
    height: 100%;
    opacity: 0.6;
    z-index: -5;
}
header nav{
    margin: 30px 12px;
    z-index: 10;
    position:absolute;
    top: 0;
    left: 0;
    color:white;
    
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    gap: 50px;
}
nav .nav-logo{
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav span{
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}
nav .nav-links{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 8em;
    justify-content: space-around;
    align-items: center;
}